<div *ngIf="data" class="table-responsive">
  <table class="table table-hover table-condensed table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
      <th>Created</th>
      <th>Issue Key</th>
      <th>Summary</th>
      <th>Triggered By</th>
      <th>Affected Apps</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
    </tr>
    <tr *ngFor="let hiKey of getKeys(data)">
      <td>{{data[hiKey].created}}</td>
      <td><a target="_blank"
             href="https://billtrust.atlassian.net/browse/{{data[hiKey].issueKey}}">{{data[hiKey].issueKey}}</a></td>
      <td>{{data[hiKey].summary}}</td>
      <td>{{data[hiKey].triggeredBy}}</td>
      <td>{{data[hiKey].impactedApps}}</td>
      <td>{{data[hiKey].startTime}}</td>
      <td>{{data[hiKey].endTime}}</td>
      <td>{{data[hiKey].duration}}</td>
    </tr>
    </tbody>
  </table>
</div>
