<table *ngIf="data" class="table table-hover table-condensed table-bordered lagmetrics">
  <tr>
    <th class="title" colspan="4">Replication Lag</th>
  </tr>
  <tr>
    <th>Server</th>
    <th>Average</th>
    <th>Max</th>
    <th>Percent Over {{data.threshold}} seconds</th>
  </tr>
  <tr *ngFor="let serverName of getKeys(data.servers)">
    <td>{{data.servers[serverName].name}}</td>
    <td>{{data.servers[serverName].average}}</td>
    <td>{{data.servers[serverName].max}}</td>
    <td>{{data.servers[serverName].percentOver}}</td>
  </tr>
</table>
