<!--The content below is only a placeholder and can be replaced.-->
<h3>
  {{title}}
</h3>
<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active">
    <a href="/dashboard">Dashboard</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a href="/historical">Historical</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a href="/daily">Last 30 Days</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a href="/hot-issues">Hot Issues</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a href="/replication-lag">Replication Lag</a>
  </li>
</ul>

<router-outlet></router-outlet>

<div class="panel panel-default internal" ng-controller="LastRunController as lastCtrl">
  This dashboard is for internal use only. Last updated on {{lastUpdated}}.
</div>

