<div class="panel-heading">
  Metrics for the Last 30 Days
</div>
<div class="panel-body">
  <div class="table-responsive">
    <app-primary-dashboard></app-primary-dashboard>
  </div>
  <br/>
  <div class="table-responsive lastoutage">
    <table class="table table-hover table-condensed table-bordered">
      <tr>
        <th>Days Since Last Outage</th>
      </tr>
      <tr>
        <td *ngIf="lastOutage">
          <span class="{{lastOutage.style}}">{{lastOutage.lastOutage}}</span>
          <div>Triggered by: {{lastOutage.apps}}</div>
        </td>
      </tr>
    </table>
  </div>
  <div class="table-responsive">
    <app-dash-lag-table></app-dash-lag-table>
  </div>
  <br/>
  <div>
    <!-- active-hot-issues></active-hot-issues -->
  </div>
</div>
